body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 100%);
  font-family: "roboto";
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 10fr;
  cursor: default;
  user-select: none;
}

#header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 10px hsl(0, 0%, 100%, 0.5);
}

#info-container {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 30px;
  background: linear-gradient(to right, hsl(0, 0%, 15%), hsl(0, 0%, 25%));
}

#stats-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  font-size: 25px;
  font-style: italic;
}

#time-setter-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.timeSetters {
  width: 150px;
  font-size: 22.5px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: 2px solid hsl(0, 0%, 50%);
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.timeSetters:hover {
  background-color: hsl(0, 0%, 30%);
  border: 2px solid hsl(0, 0%, 100%);
}

.timeSetters.active {
  border: 2px solid hsl(0, 0%, 100%);
}

#game-container {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 18.5%);
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}

#game-label {
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

#game-label.results {
  font-style: italic;
  font-weight: bold;
  font-size: 37.5px;
}

#target {
  display: none;
  width: 96px;
  position: absolute;
  transition: ease-in-out 0.05s;
}

#description-container {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, hsl(0, 0%, 15%), hsl(0, 0%, 25%));
}

#description-container p {
  padding-right: 30px;
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
  color: hsl(0, 0%, 80%);
}
